fastapi
uvicorn[standard]
openai
python-dotenv

langgraph
langgraph-checkpoint-sqlite

langchain-chroma
langchain-huggingface==1.2.2
langchain-community

chromadb
sentence-transformers
pypdf

streamlit
pandas
requests
matplotlib==3.11.2